body {
  background-color: rgb(41, 34, 34);
}

.heading h1 {
  color: aliceblue;
  font-size: 48px;
  font-weight: 900;
  letter-spacing: 1px;
  padding-top: 2rem;
  text-align: center;
  text-shadow: 3px 6px rgba(50, 50, 70, 0.7);
}
.heading h4 {
  color: aliceblue;
  text-align: center;
}
.searchBox {
  text-align: center;
  margin: 3rem;
}
.search-bar {
  width: 400px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 0.3rem 1rem;
}
.container {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 10px;
  column-gap: 10px;
}
.para {
  color: aliceblue;
  font-size: 30px;
}
